// This should put variable settings, like font size preset or weight settings

$spacing-map: (160: 24vw, 120: 20vw, 100: 18vw, 88: 17vw, 80: 16vw, 72: 15vw, 64: 14vw, 56: 12vw, 48: 10vw, 40: 8vw, 32: 6vw, 24: 4vw, 16: 3vw, 12: 2vw, 8: null, 4: null, 2: null, 0: null, auto: null);

@mixin media($point) {
  @if ($point == xxl) {
    @media (max-width: 1599.98px) { @content; }
  }
  @if ($point == xl) {
    @media (max-width: 1399.98px) { @content; }
  }
  @if ($point == min-lg) {
    @media (min-width: 1400px) { @content; }
  }
  @if ($point == lg) {
    @media (max-width: 1199.98px) { @content; }
  }
  @if ($point == ipad-portrait) {
    @media (max-width: 1024px) and (orientation: portrait) { @content; }
  }
  @if ($point == ipad) {
    @media (max-width: 1024px) { @content; }
  }
  @if ($point == md) {
    @media (max-width: 991.98px) { @content; }
  }
  @if ($point == sm) {
    @media (max-width: 767.98px) { @content; }
  }
  @if ($point == xs) {
    @media (max-width: 575.98px) { @content; }
  }
}

@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

:root {
  // Spacing
  @each $spacing, $vw in $spacing-map {
    @if ($spacing == auto) {
      --spacing-#{$spacing}: auto;
    } @else {
      --spacing-#{$spacing}: #{calc($spacing / 10)}rem;
    }
  }

  --section-spacing-x: 4vw;
  --section-spacing-y: var(--spacing-120);
  --container-width: 152rem;
  --container-width-sm: 136rem;
  --container-width-xs: 125.6rem;

  --font-primary: 'Noto Sans TC', sans-serif;
  --font-en: 'Patua One', serif;

  --text-4xl: 4rem;
  --text-3xl: 3.2rem;
  --text-2xl: 2.8rem;
  --text-xl: 2.4rem;
  --text-lg: 2rem;
  --text-md: 1.8rem;
  --text-body: 1.6rem;
  --text-sm: 1.4rem;
  --text-xs: 1rem;
  --text-xxs: 0.8rem;
  --text-xxxs: 0.5rem;

  --color-black: #000;
  --color-black-rgb: 43, 43, 43;
  --color-black-90: rgba(var(--color-black-rgb), 0.9);
  --color-black-80: rgba(var(--color-black-rgb), 0.8);
  --color-black-60: rgba(var(--color-black-rgb), 0.6);
  --color-black-40: rgba(var(--color-black-rgb), 0.4);
  --color-black-20: rgba(var(--color-black-rgb), 0.2);
  --color-black-10: rgba(var(--color-black-rgb), 0.1);

  & {@include media(xs) { --spacing-160: 30vw; }}
}

// Responsive font sizes
@include media(sm) {
  :root {
    --text-4xl: 3.6rem;
  }
}

@include media(xs) {
  :root {
    --text-4xl: 3.2rem;
    --text-3xl: 2.8rem;
    --text-2xl: 2.2rem;
    --text-xl: 2rem;
    --text-lg: 1.8rem;
    --text-md: 1.7rem;
  }
}

// Responsive spacing
@include media(sm) {
  :root {
    --section-spacing-x: 2vw;
  }
}

// Special colors
$main-topic: #e24b00;

$main-white: #fff;
$main-red: #cf0a0a;
$main-orange: #dea726;
$main-yellow: #ffeb17;
$main-green: #1bf65d;
$main-blue: #2a42e1;
$main-purple: #b222ef;
$main-dark: #000000;
$main-bg: #d6cfb9;
$main-gray: #b1b1b1;
$trans-gray: #b1b1b176;

$second-orange: #f6cb93;
$second-blue: #96a3f5;